<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
  <ion-content class="padding">
    <img ng-src="{{chat.face}}" style="width: 355px; height: 200px">


<div class="row" >


 <div class="col col-50" ng-click = "gotourl('/map')" > <i class="icon ion-location" > 
  <strong>LOCATION </strong></i><br>
  {{chat.Location}}
</div>


  <div class="bor col col-50"> <i class="icon ion-clock ">  <strong>DATES </strong></i>
  <br>
  {{chat.Date}}

</div>
</div>


  </ion-content>
</ion-view>
